<h2>Liste des employés</h2>

<a routerLink="/employees/new" class="btn btn-primary">Créer un employé</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <a
          routerLink="/employees/{{ employee.id }}"
          class="btn btn-primary btn-sm mr-1"
        >
          Modifier
        </a>
        <button
          (click)="handleDelete(employee.id)"
          class="btn btn-danger btn-sm"
        >
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
